# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA specific
.idea/
*.iml
*.iws

# Eclipse specific
.classpath
.project
.settings/

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code specific
.vscode/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
